html {
    font-family: "PT Futura", sans-serif;
}

nav {
    font-family: impact, sans-serif;
}

body {
    background-color: white;
}

.jumbotron {
    text-align:center;
    background-color: #232426;
    color: white;
    margin-bottom: 0;
}

.container {
    background-color: 	#F5F5F5;
    height: -moz-available;
    height: -webkit-fill-available;
}

