nav {
    font-family: impact, sans-serif;
}

body {
    font-family: "Courier New", sans-serif;
}

.jumbotron {
    text-align:center;
    background-color: #232426;
    color: white;
    margin-bottom: 0;
}

.container {
    background-color: 	#F5F5F5;
    height: -moz-available;
    height: -webkit-fill-available;
}

#java .parallax {
    background-image: url("../images/java-logo.png");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repear: no-repeat;
    background-size: cover;
}
